iframe { border: none; }

#userAccount-popup {
	right: 0 !important;
	left: auto !important;
}
#userAccount {
	width: 200px;
	border: 1px solid #000;
	border-right: none;
	background: rgba(0,0,0,.5);
	margin: -1px 0;
}
#userAccount .ui-btn {
	margin: 2em 15px;
}

#userAccount1-popup {
	right: 0 !important;
	left: auto !important;
}
#userAccount1 {
	width: 200px;
	border: 1px solid #000;
	border-right: none;
	background: rgba(0,0,0,.5);
	margin: -1px 0;
}
#userAccount1 .ui-btn {
	margin: 2em 15px;
}


#userAccount2-popup {
	right: 0 !important;
	left: auto !important;
}
#userAccount2 {
	width: 200px;
	border: 1px solid #000;
	border-right: none;
	background: rgba(0,0,0,.5);
	margin: -1px 0;
}
#userAccount2 .ui-btn {
	margin: 2em 15px;
}


#userAccount3-popup {
	right: 0 !important;
	left: auto !important;
}
#userAccount3 {
	width: 200px;
	border: 1px solid #000;
	border-right: none;
	background: rgba(0,0,0,.5);
	margin: -1px 0;
}
#userAccount3 .ui-btn {
	margin: 2em 15px;
}


#userAccount4-popup {
	right: 0 !important;
	left: auto !important;
}
#userAccount4 {
	width: 200px;
	border: 1px solid #000;
	border-right: none;
	background: rgba(0,0,0,.5);
	margin: -1px 0;
}
#userAccount4 .ui-btn {
	margin: 2em 15px;
}


#userAccount5-popup {
	right: 0 !important;
	left: auto !important;
}
#userAccount5 {
	width: 200px;
	border: 1px solid #000;
	border-right: none;
	background: rgba(0,0,0,.5);
	margin: -1px 0;
}
#userAccount5 .ui-btn {
	margin: 2em 15px;
}
