
/* The page body colours */

body {
    background: #222;
    color: #fff;
}


/* Stretch mobile pages to fill the browser window */

.ui-page {
    height: 100%;
}


/* Main content in tweet page */

.tweetPageContent {
    width: 87%;
    height: 83%;
    margin: 30px auto 20px auto;
    border-radius: 10px;
    border: 0px solid rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    color: #fff;
    text-shadow: 0 1px 0 #000;
    font-weight: normal;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#304360), to(#3a4e6c));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background-image:    -moz-linear-gradient(top, #304360, #3a4e6c);
    background-image:     -ms-linear-gradient(top, #304360, #3a4e6c);
    background-image:      -o-linear-gradient(top, #304360, #3a4e6c);
    background-image:         linear-gradient(top, #304360, #3a4e6c);
    text-align: center;
}


/* Gloss effect on tweet page */

.gloss {
    width: 87%;
    height: 7%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30px;
    padding: 0 4px;
    position: absolute;
    z-index: 9999;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.4)), to(rgba(255,255,255,.05)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,.05));
    background-image:    -moz-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,.05));
    background-image:     -ms-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,.05));
    background-image:      -o-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,.05));
    background-image:         linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,.05));  
    border-radius: 10px 10px 0 0;

}


/* Tweet timestamp in bottom left corner of tweet page */

.tweetTime {
    position: absolute;
    bottom: 7px;
    left: 6px;
    opacity: .5;
}


/* Manage Friends 'i' button in bottom right corner of tweet page */

.manageFriendsButton {
    position: absolute;
    bottom: -3px;
    right: 0px;
    color: #333;
    background: #fff;
    border: none;
}


/* Twitter profile image */

.profileImage {
    width: 125px;
    height: 175px;
    margin: 20px auto;
    border-radius: 15px;
}

.profileImageThumbnail {
    width: 85px;
    height: 91px;
    margin: 0px auto;
    border-radius: 35px;
}


/* Twitter screen name */

.tweetPageContent h1 {
    text-align: center;
    font-size: 100%;
    margin-top: -10px;
}


/* Tweet */

.tweetPageContent .recentTweet {
    margin: -10px 20px;
    font-family: "Georgia", "Times New Roman", serif;
    font-size: 125%;
    min-height: 55%;
    background: url("quoteMarks.png") no-repeat 50% 50%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

}

.tweetPageContent .recentTweet blockquote {
    text-align: center;
    width: 100%;
    margin: 0;
}


/* Links within the tweet */

.tweetPageContent blockquote a {
    color: #fff;
    opacity: .7;
    text-decoration: none;
}


/* Put the pagination buttons at the bottom and make them invisible */

.ui-pagination {
    position: absolute;
    top: auto;
    z-index: 9999;
    bottom: 52px;
}

.ui-pagination .ui-pagination-prev, .ui-pagination .ui-pagination-next {
    top: 0;
    width: 49%;
}

.ui-pagination .ui-pagination-prev {
    left: 0;
}

.ui-pagination .ui-pagination-next {
    right: 0;
}

.ui-pagination .ui-pagination-prev .ui-btn, .ui-pagination .ui-pagination-next .ui-btn {
    width: 100%;
    height: 80px;
    margin-top: 0;
    opacity: 0;
}


/* The pagination dots at the bottom of the page */

#dots {
    position: absolute;
    z-index: 9999;
    bottom: 8px;
    height: 30px;
    line-height: 0;
    color: #888;
    width: 100%;
    text-align: center;
    font-size: 55px;
    letter-spacing: 1px;
}

#dots .highlight {
    color: #fff;
}


/*** Media queries to handle different iOS devices and orientations ***/


/* iPhone, standalone */

@media only screen and (max-device-width: 480px) and (orientation: portrait) {
    .tweetPageContent { height: 380px; }
}

@media only screen and (max-device-width: 480px) and (orientation: landscape) {
    .tweetPageContent { height: 230px; font-size: 95%; }
    .profileImage { width: 60px; height: 60px; }
    .profileImageThumbnail { width: 60px; height: 60px; }
    .tweetPageContent .recentTweet { min-height: 80px; font-size: 95%; background-size: 25%; }
}


/* iPhone, running in Safari */

@media only screen and (max-height: 360px) and (orientation: portrait) {
    .tweetPageContent { height: 330px; font-size: 85%; }
    .tweetPageContent .recentTweet { font-size: 120%; margin-top: -20px; }
    #dots { bottom: -50px; }
    .ui-pagination { bottom: 65px; }
}

@media only screen and (max-height: 260px) and (orientation: landscape) {
    .tweetPageContent { font-size: 95%; margin-top: 10px; }
    .profileImage { width: 60px; height: 60px; }
    .profileImageThumbnail { width: 60px; height: 60px; }
    .gloss { top: 10px; }
    #dots { bottom: -63px; }
    .ui-pagination { bottom: 72px; }
}


/* iPad */

@media only screen and (device-width: 768px) and (orientation: portrait) {
    .tweetPageContent { height: 92%; font-size: 150%; }
}

@media only screen and (device-width: 768px) and (orientation: landscape) {
    .tweetPageContent { height: 89%; font-size: 150%; }
}


/*** jQuery Mobile swatches ***/

/* A swatch */
.ui-body-a {
    background: #000;
}

/* F swatch */

.ui-btn-up-f {
    border: 1px solid #b11;
    background: #a00;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 -1px 1px #000;
    text-decoration: none;
    background-image: -moz-linear-gradient(top, #e55, #a00);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #f66), color-stop(1, #a00));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f66', EndColorStr='#a00')";
}
.ui-btn-up-f a.ui-link-inherit {
    color: #fff;
}
.ui-btn-hover-f {
    border: 1px solid #a00;
    background: #b11;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 1px #000;
    text-decoration: none;
    background-image: -moz-linear-gradient(top, #f66, #b11);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #f66), color-stop(1, #b11));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f66', EndColorStr='#b11')";
}
.ui-btn-hover-f a.ui-link-inherit {
    color: #fff;
}
.ui-btn-down-f {
    border: 1px solid #800;
    background: #e55;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 1px #000;
    background-image: -moz-linear-gradient(top, #800, #e55);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #800), color-stop(1, #e55));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#800', EndColorStr='#e55')";
}
.ui-btn-down-f a.ui-link-inherit {
    color: #fff;
}
.ui-btn-up-f,
.ui-btn-hover-f,
.ui-btn-down-f {
    font-family: Helvetica, Arial, sans-serif;
}
